.access{
  &__map{
    position: relative;
    padding-bottom: 80%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
  }
  &__address{
    text-align:left;
    color: #1e0111;
    font-size: 13px;
    h3{
      font-size: 18px;
      font-weight:700;
      letter-spacing: 3px;
      padding:0.8em 0em;
    }
  }
  &__addressLink{
    text-align:right;
    padding-top:0.8em;
      a{
        text-decoration: underline;
        color: #8cc63f;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.1px;
        position: relative;
        padding-right: 20px;
        background-image: url(/wp-content/uploads/2017/11/arrow_green.png);
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: 100% center;
        font-weight: 700;
        // &:after{
        //   content: "";
        //   display: block;
        //   width: 5px;
        //   height: 5px;
        //   border-top: 2px solid #8cc63f;
        //   border-right: 2px solid #8cc63f;
        //   transform: rotate(45deg);
        //   position: absolute;
        //   top: 0;
        //   bottom: 0;
        //   right: 0%;
        //   margin: auto;
        // }
      }
    p{
      color: #585858;
      font-size: 12px;
      padding: 0.8em 0em;
    }
  }
  &__byVehicle{
    text-align:left;
    font-size: 13px;
    color: #1e0111;
  }
  &__title{
    font-size: 15px;
    font-weight:700;
    color:$secondary__pink;
    padding: 0.8em 0em;
  }
  &__car{
    p:last-of-type{
      color: #585858;
      font-size: 12px;
      padding: 0.8em 0em;
      text-align:right;
    }
  }
}
