* {margin: 0;padding: 0;list-style-type: none;box-sizing: border-box;text-decoration: none;}

// @font-face {
//   font-family: 'din_l';
//   src: url('DINbek-Light.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'din_l';
//   src: url('DINbek-Light.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'din_l';
//   src: url('DINbek-Light.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'din_l';
//   src: url('DINbek-Light.ttf') format('ttf');
// }


body {
  font-family: 'Noto Sans Japanese', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f4f4;
}

img {
  vertical-align: top;
  width: 100%;
  object-fit: cover;
}

.w100 {font-weight: 100;}
.w200 {font-weight: 200;}
.w300 {font-weight: 300;}
.w400 {font-weight: 400;}
.w500 {font-weight: 500;}
.w700 {font-weight: 700;}
.w900 {font-weight: 900;}

/* color */
$primary__green: #8cc63f;
$secondary__pink: #e4007f;
$base__white: #ffffff;

$positiveColor__01: #8cc63f;
$positiveColor__02: #bae087;
$positiveColor__03: #e8f5d7;

$negativeColor__01: #eb2000;
$negativeColor__02: #f55c45;
$negativeColor__03: #ff9e8f;

$middleColor__01: #202020;
$middleColor__02: #666666;
$middleColor__03: #cccccc;

$sectionPaddingTopBottom_base: 40px;
$sectionPaddingLeftRight_base: 16px;

section {
  &.pattern_01 {
    // padding: $sectionPaddingTopBottom_base + 30px 0 $sectionPaddingTopBottom_base;
    background-repeat: no-repeat,no-repeat;
    background-size: 100%, 100%;
    background-position: 0px 0%,-1px 100%;background-color: $base__white;
  }
  &.pattern_02 {
    // padding: $sectionPaddingTopBottom_base 0;
  }
  &.pattern_01, &.pattern_02 {
   h2{padding-left: 0px;}
    // &.scheduleArea { background-image: url(../asset/dummy/corner-top_01.png),url(../asset/dummy/corner-bottom.png); }
    // &.newsArea { background-image: url(../asset/dummy/corner-top_02.png),url(../asset/dummy/corner-bottom.png); }
    // &.eventReport { background-image: url(../asset/dummy/corner-top_02.png),url(../asset/dummy/corner-bottom.png); }
    > div {padding-left: $sectionPaddingLeftRight_base;padding-right: $sectionPaddingLeftRight_base;}
  }
  h2 {
    text-align: center;
    color: $secondary__pink;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 24px;
    span {
      color: #1e0111;
      font-size: 12px;
      display: block;
      letter-spacing: 2px;
    }
  }

  .decoTop {
    width: 100%;
    height: 40px;
    margin: 21px 0;
    overflow: hidden;
    background-color: #f4f4f4;
    position: relative;
    &:before, &:after{
      content: "";
      display: block;
      position: absolute;
      width: 850px;
      height: 80px;
      background-color: $base__white;
      z-index: 4;
    }
    &:before {
      left: 0px;
    }
    &:after {
      right: -1px;
      background-color: $secondary__pink;
    }
    &.deco1 {
      &:before {
        top: -5px;
        transform: rotate(-6deg);
      }
      &:after {
        top: 20px;
        transform: rotate(1deg);
        z-index: 2;
      }
    }
    &.deco2 {
      background-color: $secondary__pink;
      &:before {
        top: -35px;
        transform: rotate(6deg);
        background-color: #f4f4f4;
      }
      &:after {
        top: 24px;
        transform: rotate(-3deg);
        z-index: 2;
        background-color: $base__white;
      }
    }
  }

  .decoBottom {
    width: 100%;
    height: 40px;
    margin: 21px 0;
    overflow: hidden;
    background-color: $base__white;
    position: relative;
    &:before, &:after{
      content: "";
      display: block;
      position: absolute;
      width: 850px;
      height: 80px;
      background-color: $base__white;
      z-index: 4;
    }
    &:before {
      left: 0px;
    }
    &:after {
      right: 0px;
    }
    &.deco1 {
      &:before {
        top: 20px;
        transform: rotate(-3deg);
        background-color: $secondary__pink;
      }
      &:after {
        top: 5px;
        transform: rotate(4.5deg);
        z-index: 6;
        background-color: #f4f4f4;
      }
    }
    &.deco2 {
      &:before {
        top: 16px;
        transform: rotate(-3deg);
        background-color: $secondary__pink;
      }
      &:after {
        top: 5px;
        transform: rotate(3deg);
        z-index: 6;
        background-color: #f4f4f4;
      }
    }
  }
  @media screen and (min-width: 751px) {
    .decoTop {
      height: 60px;
      &.deco1:before {top: 30px;transform: rotate(-3deg);}
      &.deco1:after {top: 40px;}

      &.deco2:before {top: -43px;transform: rotate(3deg);}
    }
    .decoBottom {
      height: 60px;
      &.deco1:before {top: 32px;transform: rotate(-2deg);}
      &.deco1:after {top: 18px;transform: rotate(2deg);}

      &.deco2:before {top: 32px;transform: rotate(-2deg);}
      &.deco2:after {top: 18px;transform: rotate(2deg);}
    }
  }
}

.deviceSP {display: block;}
.devicePC {display: none;}
.secondBase_fes_2018.deviceSP {display: flex;}
.secondBase_fes_2018.devicePC {display: none;}
@media screen and (min-width: 751px) {
  .deviceSP {display: none;}
  .devicePC {display: block;}
  .container {
    width: 100%;
    padding-bottom: 35px;}
  footer.container {
    padding-bottom: 70px;
  }
  .secondBase_fes_2018 h1 {
    width: auto;
  }
  .top {
    padding: 3em;
    h2 {
      width:840px;
      margin: 0 auto;
      span{
      font-size: 20px;
      }
     > img {
      width: 583px;
      margin: auto;
      }
    }
  }
}

section.news {
  text-align: center;
  @media screen and (max-width: 750px){
    padding-top: 24px;
  }
}
@media screen and (max-width: 750px){
  section.news {
    padding-top: 24px;
  }
}

@media screen and (min-width: 751px) {
  .secondBase_fes_2018.deviceSP {display: none;}
  .secondBase_fes_2018.devicePC {display: flex;}
}














.rg-Privilege {
  border-radius: 4px;
  background-color: #f5f8ec;
  border: 1px solid #8cc63f;
  position: relative;
  margin: 32px auto 24px;
  padding: 32px 0 20px;
  color: #1e0111;
}

.rg-Privilege>h3 {
  position: absolute;
  margin: 0 auto;
  font-size: 1.6rem;
  width: 200px;
  top: -12px;
  background: -webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(50%,#fff),color-stop(50%,#f5f8ec));
  background: -webkit-linear-gradient(top,#fff,#fff 50%,#f5f8ec 0);
  background: linear-gradient(180deg,#fff 0,#fff 50%,#f5f8ec 0);
  left: 0;
  right: 0;
  text-align: center
}

.rg-Privilege>ul {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 250px
}

.rg-Privilege>ul>li {
  letter-spacing: .7px;
  position: relative;
  padding-left: 12px;
  font-size: 1.3rem
}

.rg-Privilege>ul>li+li {
  margin-top: 16px
}

.rg-Privilege>ul>li:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #e4007f;
  border-radius: 6px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute
}
.ct-MAP__btn a {
  width: 100%;
  max-width: 374px;
  margin: auto;
}
@media screen and (min-width: 751px) {
  .campaignArea__contents {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .rg-Privilege>h3 {
    width: 50%;
    font-size: 21px;
    top: -18px;
  }
  .rg-Privilege>ul {
    padding: 0;
    width: 59%;
  }
  .rg-Privilege>ul>li {
    font-size: 20px;
  }
  .campaignArea {
    .scheduleArea__registrationArea__btn {
      font-size: 30px;
      height: 70px;
      padding-top: 6px;
      line-height: 1.3;
    }
    .scheduleArea__registrationArea__btn span {
      font-size: 15px;
    }
  }
}


@media screen and (min-width: 751px) {
  section.pattern_01 {
    padding-bottom: 1px;
  }
}
