* {margin: 0;padding: 0;list-style-type: none;box-sizing: border-box;text-decoration: none;}

@font-face {
  font-family: 'din_l';
  src: url('DINbek-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'din_l';
  src: url('DINbek-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'din_l';
  src: url('DINbek-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'din_l';
  src: url('DINbek-Light.ttf') format('ttf');
}


body {
  font-family: 'Noto Sans Japanese', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f4f4;
}
img {
  vertical-align: top;
  width: 100%;
  object-fit: cover;
}

.w100 {font-weight: 100;}
.w200 {font-weight: 200;}
.w300 {font-weight: 300;}
.w400 {font-weight: 400;}
.w500 {font-weight: 500;}
.w700 {font-weight: 700;}
.w900 {font-weight: 900;}

/* color */
$primary__green: #8cc63f;
$secondary__pink: #e4007f;
$base__white: #ffffff;

$positiveColor__01: #8cc63f;
$positiveColor__02: #bae087;
$positiveColor__03: #e8f5d7;

$negativeColor__01: #eb2000;
$negativeColor__02: #f55c45;
$negativeColor__03: #ff9e8f;

$middleColor__01: #202020;
$middleColor__02: #666666;
$middleColor__03: #cccccc;

$sectionPaddingTopBottom_base: 40px;
$sectionPaddingLeftRight_base: 16px;

section {
  &.pattern_01 {
    // padding: $sectionPaddingTopBottom_base + 30px 0 $sectionPaddingTopBottom_base;
    background-repeat: no-repeat,no-repeat;
    background-size: 100%, 100%;
    background-position: 0px 0%,-1px 100%;background-color: #fff;
  }
  &.pattern_02 {
    // padding: $sectionPaddingTopBottom_base 0;
  }
  &.pattern_01, &.pattern_02 {
   h2{padding-left: 0px;}
    // &.scheduleArea { background-image: url(../asset/dummy/corner-top_01.png),url(../asset/dummy/corner-bottom.png); }
    // &.newsArea { background-image: url(../asset/dummy/corner-top_02.png),url(../asset/dummy/corner-bottom.png); }
    // &.eventReport { background-image: url(../asset/dummy/corner-top_02.png),url(../asset/dummy/corner-bottom.png); }
    > div {padding-left: $sectionPaddingLeftRight_base;padding-right: $sectionPaddingLeftRight_base;}
  }
  h2 {
    text-align: center;
    color: #e4007f;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 24px;
    span {
      color: #1e0111;
      font-size: 12px;
      display: block;
      letter-spacing: 2px;
    }
  }
  .deco1{
  &.decoTop{
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #f4f4f4;
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: -3px;
      width: 100%;
      height: 40px;
      background-color: #e4007d;
      -webkit-transform: rotate(5deg);
      transform: rotate(2deg);
      z-index: 4;
    }
    &:before{
      content: "";
      position: absolute;
      top: -8px;
      left: 0;
      width: 100%;
      height: 40px;
      border: 370px solid transparent;
      background-color: #FFF;
      -webkit-transform: rotate(-5deg);
      transform: rotate(-4deg);
      z-index: 6;
    }
  }
}

.deco1{
  &.decoBottom{
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #FFF;
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: -3px;
      width: 100%;
      height: 40px;
      background-color: #f4f4f4;
      -webkit-transform: rotate(5deg);
      transform: rotate(6deg);
      z-index: 6;
    }
    &:before{
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 100%;
      height: 40px;
      border: 370px solid transparent;
      background-color: #e4007d;
      -webkit-transform: rotate(-5deg);
      transform: rotate(-4deg);
      z-index: 4;
    }
  }
}

.deco2{
  &.decoTop{
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #FFF;
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 30px;
      right: 0px;
      width: 100%;
      height: 40px;
      background-color: #e4007d;
      -webkit-transform: rotate(5deg);
      transform: rotate(-4deg);
      z-index: 4;
    }
    &:before{
      content: "";
      position: absolute;
      top: -12px;
      right: 0px;
      width: 100%;
      height: 40px;
      border: 370px solid #f4f4f4;
      background-color: #FFF;
      -webkit-transform: rotate(-5deg);
      transform: rotate(5deg);
      z-index: 6;
    }
  }
}

.deco2{
  &.decoBottom{
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #FFF;
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: -20px;
      left: 4px;
      width: 100%;
      height: 40px;
      background-color: #f4f4f4;
      -webkit-transform: rotate(5deg);
      transform: rotate(6deg);
      z-index: 6;
    }
    &:before{
      content: "";
      position: absolute;
      bottom: 9px;
      right: 0px;
      width: 100%;
      height: 40px;
      border: 370px solid transparent;
      background-color: #e4007d;
      transform: rotate(-4deg);
      z-index: 4;
    }
  }
}


  
    
}
