.contentsArea {
  text-align: center;
  a{
    display:block;
  }
  li {
    border: solid 1px #d7d7d7;
    margin-bottom: 3em;
  }
  &__image{
    position:relative;
    &:before{
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &.new:before {background-image: url("http://placehold.jp/10/3d4070/ffffff/40x40.png?text=%E3%81%AB%E3%82%85%E3%83%BC");}
    &.commingsoon:before {background-image: url("http://placehold.jp/10/eb1730/ffffff/40x40.png?text=%E3%81%8B%E3%81%BF%E3%81%99");}
  }
  &__title{
    color:$primary__green;
    font-weight: 700;
    font-size: 24px;
    border-bottom:2px solid $positiveColor__01;
    margin: auto;
    width: 70%;
    padding: 0.4em 0em;
  }
  &__comment{
    padding:1em 0em 0em 0em;
    color:$middleColor__01;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
  span{
    display:block;
    color:$positiveColor__01;
    text-decoration: underline;
    padding: 1em 0em;
    position: relative;
    width: 29%;
    margin: auto;
    &:after {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      border-top: 2px solid $positiveColor__01;
      border-right: 2px solid $positiveColor__01;
      transform: rotate(45deg);
      position: absolute;
      bottom: 1.5em;
      right: 0;
      margin: auto;
    }
  }

  }

}
