.contentsArea {
  text-align: center;
  a{
    display:block;
    border-radius: 30px;
    box-shadow: 1px 3px 0 0px #eeeeee;
    border: 1px solid #d7d7d7;
    overflow: hidden;
  }
  li {
    margin-bottom: 2em;
  }
  h2 {
    position: relative;
    padding-top: 30px;
  }
  &__icon_01 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 10%;
  }
  &__description {
    font-size: 18px;
    font-weight: bold;
    color: #8cc63f;
  }
  &__image{
    position:relative;
    &:before{
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &.new:before {background-image: url("http://placehold.jp/10/3d4070/ffffff/40x40.png?text=%E3%81%AB%E3%82%85%E3%83%BC");}
    &.commingsoon:before {background-image: url("http://placehold.jp/10/eb1730/ffffff/40x40.png?text=%E3%81%8B%E3%81%BF%E3%81%99");}
    &.badge:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 70px;
      height: 70px;
      background-image: url(/wp-content/uploads/2017/12/ico_kaiunpark.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &__title{
    color: $base__white;
    font-weight: 700;
    font-size: 24px;
    margin: auto;
    padding: 0.4em 0em;
    background-color: #e4007f;
  }
  &__comment{
    padding:1em;
    color: $middleColor__01;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: $base__white;
    padding: 1em;
    @media screen and (min-width: 751px) {
      font-size: 14px;
      padding: 0 2px;
    }
  span{
    display:block;
    color: $positiveColor__01;
    text-decoration: underline;
    padding: 1em 0em;
    position: relative;
    width: 29%;
    margin: auto;
    &:after {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      border-top: 2px solid $positiveColor__01;
      border-right: 2px solid $positiveColor__01;
      transform: rotate(45deg);
      position: absolute;
      bottom: 1.5em;
      right: 0;
      margin: auto;
    }
    }
  }

  @media screen and (max-width: 320px) {
    &__description{
      font-size: 14px;
    }
    &__comment{
      font-size: 10px;
      padding: 12px 4px;
    }
  }

}
