.eventReport{
ul{
    display:flex;
    justify-content:space-around;
}
&__img{
      border: 1px solid #979797;
      border-bottom:none;
      a{
        display:block;
        font-size: 13px;
        color: #1e0111;
      }
}
&__report{
      border: 1px solid #979797;
      position:relative;
      &::before{
        content: "";
        display: block;
        position: absolute;
        left: 1.2em;
        top: 0;
        bottom: 0;
        border: 8px solid transparent;
        border-top: 8px solid $secondary__pink;
        transform: rotate(270deg);
      }
      a{
        color: #1e0111;
        font-size: 13px;
        display: block;
        padding: 0.6em 0.6em 0.6em 1.6em;
      }
}

&__Inquiry{
    a{
      display:block;
      text-decoration: underline;
      color:$primary__green;
      text-align: center;
      margin:1em 0em;
      font-size: 14px;
    }
}









}