.faq{
  &__title{
    font-size: 15px;
    font-weight:700;
    color:$secondary__pink;
    padding: .8em 0 0 0;
  }
  ul{
    li{
      border-bottom: 1px solid #eeeeee;
      padding: 0.5em 0;
    &:last-child{
        border:none;
    }
      p{
        color: #1e0111;
        font-size: 13px;
        line-height: 24px;
        display: flex;
        margin-bottom: 6px;
        &:first-child{
          font-weight: 700;
        }
        img{
          width:26px;
          height:26px;
          margin-right:2%;

        }      
      }
    }
  }

}