footer {
  text-align: center;
  background: #f4f4f4;
  margin-bottom: 70px;
  h4 {
    max-width: 686px;
    font-size: 18px;
    color: #141414;
    margin: 0 auto 14px;
  }
}

.footer {
  &__links{
    padding:0px 16px;
    ul {
      // display: flex;
      // flex-flow: row wrap;
      // justify-content: flex-start;
      overflow: hidden;
      li {
        width: 32%;
        margin-right: 2%;
        float: left;
        &:first-child {width: 100%;}
        &:nth-child(3n + 1){margin-right: 0;}
        a {
          display:block;
          img{padding-bottom: 0.5em;}
        }
      }
    }
  }
  &__followUsIcon {
    padding:0px 16px 24px;
    ul {
      display: flex;
      justify-content:space-around;
      margin: 1em;
    }
    p {
      border-bottom: dotted 3px #666666;
      padding-top: 1em;
      margin-bottom: 1em;
    }
  }
  &__followUsCaption {
    margin-bottom: 5px;
    text-align: center;
    margin-top: 14px;
  }
  &__comment {
    padding:1em;
    p{
      color: #141414;
      font-size: 10px;
    }
  }

  &__copyRight {
    line-height: 40px;
    background:$secondary__pink;
    color:$base__white;
    font-size: 12px;
    font-weight: 700;
  }
}

//これがfooterの閉じタグ！
