footer {
  text-align: center;
  background: #f4f4f4;
  margin-bottom: 70px;
  h4 {
    max-width: 686px;
    font-size: 18px;
    color: #141414;
    margin: 0 auto 14px;
  }
}

.footer {
  &__links{
    padding:0px 16px;
    ul {
      // display: flex;
      // flex-flow: row wrap;
      // justify-content: flex-start;
      overflow: hidden;
      li {
        width: 32%;
        margin-right: 2%;
        float: left;
        &:first-child {width: 100%;}
        &:nth-child(3n + 1){margin-right: 0;}
        a {
          display:block;
          img{padding-bottom: 0.5em;}
        }
      }
    }
  }
  &__followUsIcon {
    padding:0px 16px 24px;
    ul {
      display: flex;
      justify-content:space-around;
      margin: 1em;
    }
    p {
      border-bottom: dotted 3px #666666;
      padding-top: 1em;
      margin-bottom: 1em;
    }
  }
  &__followUsCaption {
    margin-bottom: 5px;
    text-align: center;
    margin-top: 14px;
  }
  &__comment {
    padding:1em;
    p{
      color: #141414;
      font-size: 10px;
    }
  }

  &__copyRight {
    line-height: 40px;
    background:$secondary__pink;
    color:$base__white;
    font-size: 12px;
    font-weight: 700;
  }
}

.footerRegister {
  width: 100%;
  background-color: #f8f6f8;
  border-top: 1px solid #d8d7d8;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  > div {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    @media screen and (max-width: 750px) {
      justify-content: center;
    }
    align-items: center;
    height: 70px;
    p {
      color: #585858;
      font-weight: 700;
      font-size: 18px;
      span {
        font-size: 14px;
        font-weight: 100;
        color: #e4007e;
      }
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 45px;
    border-radius: 3px;
    background-color: #8cc63f;
    box-shadow: 0 2px 0 0 #70a22f;
    color: #fff;
    flex-direction: column;
    line-height: 1.3;
    font-weight: 700;
    span {font-size: 10px;font-weight: 700;}
  }
}

//これがfooterの閉じタグ！
