header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
  background-color: $secondary__pink;
  color: #fff;
  margin-bottom: 0;
  h1 {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
    span {
      display: block;
      line-height: 14px;
      font-size: 14px;
      padding-top: 5px;
    }
  }
  nav {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    padding: 50px 0 0px;
    margin: auto;
    width: 100%;
    z-index: 30;
    transition: all 300ms 0s ease;
    height: 100%;
    overflow-y: scroll;
    &.js-menuNav__active {
      display: block;
      top: 0;
      transform: translateY(0);
    }
  }
}

.headerBtn {
  position: fixed;
  right: 0;
  top: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: $secondary__pink;
  z-index: 100;
  &__open {
    height: 23px;
    width: 23px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: all .4s;
    span {
      width: 100%;
      height: 3px;
      display: inline-block;
      background-color: #fff;
      border-radius: 1.5px;
      position: absolute;
      bottom: 0;
      margin: auto;
      transition: all .4s;
      &:first-child {top: 18px;}
      &:nth-of-type(2){top: 0px;}
      &:last-child {bottom: 18px;}
    }
  }
}

nav.deviceSP {
  background-color: #e4007f;
  ul {
    li {
      border-top: 1px solid rgba(238, 238, 238, 0.4);
      border-bottom: rgba(238, 238, 238, 0.4);
      text-align: center;
      a {
        color: #FFF;
        display: block;
      }
    }
  }
  .deviceSP__title {
    width: 130px;
    margin: auto;
    padding: 14px 0px 8px 0px;
    span {
        font-size: 10px;
    }
  }
  .navigation__Contents {
    display: block;
    ul {
      display: block;
      width: 100%;
      overflow: hidden;
    }
    li {
      width: 50%;
      border: none;
      height: 50px;
      font-size: 14px;
      float: left;
      display: block;
      &:nth-of-type(odd) a {padding-left: 32px;}
      a {
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 12px;
        font-weight: 700;
      }
      img {
        width: 12px;
        height: 12px;
        margin-right: 5px;
      }
    }
    &__Description {
      margin: auto;
      color: #1e0111;
      padding: 6px;
      font-size: 12px;
      letter-spacing: 0.9px;
      font-weight: 700;
      width: 100%;
    }
  }


  ul.navigation__snsArea {
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 0;
    li {
      width: 35px;
      display: block;
    }
  }

  @media screen and (max-width: 374px) {
    .navigation__Contents li:nth-of-type(odd) a{
      padding-left: 20px;
    }
  }



}


.headerBtn__open.js-headerBtn__action span:first-child {animation: menu-bar02 .75s forwards;}
@keyframes menu-bar02 {
  0% {transform: translateY(-9px) rotate(45deg);}
  50% {transform: translateY(-9px) rotate(0);}
  100% {transform: translateY(0) rotate(0);}
}
.headerBtn__open.js-headerBtn__action span:nth-of-type(2) {transition: all .25s .25s;opacity: 1;}
.headerBtn__open.js-headerBtn__action span:last-child {animation: menu-bar01 .75s forwards;}
@keyframes menu-bar01 {
  0% {transform: translateY(9px) rotate(-45deg);}
  50% {transform: translateY(9px) rotate(0);}
  100% {transform: translateY(0) rotate(0);}
}

.headerBtn__open.js-headerBtn__active span:first-child {animation: active-menu-bar03 .75s forwards;}
@keyframes active-menu-bar03 {
  0% {transform: translateY(0) rotate(0);}
  50% {transform: translateY(-9px) rotate(0);}
  100% {transform: translateY(-9px) rotate(-45deg);}
}
.headerBtn__open.js-headerBtn__active span:nth-of-type(2) {opacity: 0;}
.headerBtn__open.js-headerBtn__active span:last-child {animation: active-menu-bar01 .75s forwards;}
@keyframes active-menu-bar01 {
  0% {transform: translateY(0) rotate(0);}
  50% {transform: translateY(9px) rotate(0);}
  100% {transform: translateY(9px) rotate(45deg);}
}

@media screen and (min-width: 751px) {
  .breadcrumb {display: none;}
  header.secondBase_fes_2018.devicePC {
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 80px;
    border-bottom: 1px solid #eee;
    > div {
      display: flex;
      width: 100%;
      max-width: 1200px;
      margin: auto;
      h1 {
        padding: 0;
        width: auto;
      }
      nav {
        position: initial;
        padding: 0 0 0 0px;
        overflow: visible;
        ul {
          display: flex;
        }
      }
    }
  }
  .devicePC__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    padding-top: 21px;
    position: relative;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    > img {
      width: 100%;
      max-height: 40px;
    }
    > span {
      font-size: 10px;
      color: #1e0111;
      display: none;
    }
  }
  .navigation__Contents {
    ul {flex-direction: column;}
    li {width: 100%;
      &:first-child a {border-top: 0;}
    }
    a {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: $secondary__pink;
      border-top: 1px solid $secondary__pink;
      height: 40px;
      padding-left: 6px;
      width: 170px;
      font-weight: 700;
      > img {
        width: 12px;
        height: 12px;
        margin-right: 6px;
      }
    }
  }
  .devicePC > ul > li {
    position: relative;
    z-index: 60;
    background-color: #fff;
    &:nth-of-type(1) {flex: 1.3;}
    &:nth-of-type(2) {flex: 1.1;}
    &:nth-of-type(3) {flex: 0.9;}
    &:nth-of-type(4) {flex: 0.9;}
    &:nth-of-type(5) {flex: 1.3;}
    &:nth-of-type(6) {flex: 1.2;}
    &:nth-of-type(7) {flex: 1.5;}
    &:nth-of-type(8) {flex: 1.5;}
    &:nth-of-type(9) {flex: 1;}
    .navigation__Contents {
      position: absolute;
      top: 80px;
      left: 0;
      transform: translateY(-100%);
      transition: 0.3s;
      z-index: 1;
      border: 1px solid $secondary__pink;
      border-top: 1px solid #eee;
      background-color: #fff;
    }
    &:nth-of-type(7) .navigation__Contents {
      width: 260px;
      .navigation__Contents__Description {
        color: #1e0111;
        font-size: 11px;
        padding: 11px 0 0px 6px;
      }
      li {
        // border-top: 0;
        a {
          width: 100%;
          border: 0;
        }
      }
      ul:nth-of-type(1) li:last-child a {
        border-bottom: 1px solid $secondary__pink;
      }
    }
  }
}


@media screen and (max-width: 750px) {
  header nav.deviceSP ul.navigation__snsArea li {
    border-top: 0;
  }
}

