header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
  background-color: $secondary__pink;
  color: #fff;
  margin-bottom: 0;
  h1 {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    span {
      display: block;
      line-height: 14px;
      font-size: 14px;
    }
  }
  nav {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    padding: 24px;
    margin: auto;
    width: 100%;
    background: #ccc;
    z-index: 10;
    transition: all 300ms 0s ease;
    height: 100%;
    &.js-menuNav__active {
      display: block;
      top: 0;
      transform: translateY(0);
    }
  }
}

.headerBtn {
  position: fixed;
  right: 0;
  top: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: $secondary__pink;
  z-index: 100;
  &__open {
    height: 23px;
    width: 23px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: all .4s;
    span {
      width: 100%;
      height: 3px;
      display: inline-block;
      background-color: #fff;
      border-radius: 1.5px;
      position: absolute;
      bottom: 0;
      margin: auto;
      transition: all .4s;
      &:first-child {top: 18px;}
      &:nth-of-type(2){top: 0px;}
      &:last-child {bottom: 18px;}
    }
  }
}



.headerBtn__open.js-headerBtn__action span:first-child {animation: menu-bar02 .75s forwards;}
@keyframes menu-bar02 {
  0% {transform: translateY(-9px) rotate(45deg);}
  50% {transform: translateY(-9px) rotate(0);}
  100% {transform: translateY(0) rotate(0);}
}
.headerBtn__open.js-headerBtn__action span:nth-of-type(2) {transition: all .25s .25s;opacity: 1;}
.headerBtn__open.js-headerBtn__action span:last-child {animation: menu-bar01 .75s forwards;}
@keyframes menu-bar01 {
  0% {transform: translateY(9px) rotate(-45deg);}
  50% {transform: translateY(9px) rotate(0);}
  100% {transform: translateY(0) rotate(0);}
}

.headerBtn__open.js-headerBtn__active span:first-child {animation: active-menu-bar03 .75s forwards;}
@keyframes active-menu-bar03 {
  0% {transform: translateY(0) rotate(0);}
  50% {transform: translateY(-9px) rotate(0);}
  100% {transform: translateY(-9px) rotate(-45deg);}
}
.headerBtn__open.js-headerBtn__active span:nth-of-type(2) {opacity: 0;}
.headerBtn__open.js-headerBtn__active span:last-child {animation: active-menu-bar01 .75s forwards;}
@keyframes active-menu-bar01 {
  0% {transform: translateY(0) rotate(0);}
  50% {transform: translateY(9px) rotate(0);}
  100% {transform: translateY(9px) rotate(45deg);}
}
