.reflectionArea{
&__movie{
  position: relative;
  img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 22%;
  }
}
&__movieIcon{
  display: block;
  filter: brightness(80%);
}

video::-internal-media-controls-download-button {
  display:none;
 }
 
 video::-webkit-media-controls-enclosure {
  overflow:hidden;
 }
 
 video::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
 }







}