.scheduleArea {
  &__topImg {
    padding: 21px 0;
    @media screen and (max-width: 750px) {
      margin: 0 -16px;
    }
  }
  &__time {
    margin: 10px auto;
    overflow: hidden;
    span {
      flex: 1;
      width: 50%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 31px;
      letter-spacing: 1px;
      &:nth-of-type(1) {
        font-size: 21px;
        background-color: $secondary__pink;
        color: $base__white;
        font-weight: 700;
        padding: 0 0 2px;
      }
      &:nth-of-type(2) {
        background-color: $base__white;
        border: 1px solid $secondary__pink;
        color: $secondary__pink;
        font-size: 14px;
        flex-wrap: wrap;
        font-weight: 700;
      }
    }
  }
  &__guide {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 0;
    li {
      width: 57%;
      &:nth-of-type(2n) {width: 43%;}
    }
    li:nth-child(2) a {background-image: url(/wp-content/uploads/2017/11/ico_map.png);}
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 42px;
      font-size: 14px;
      color: #585858;
      font-weight: 700;
      padding-left: 32px;
      background-image: url(/wp-content/uploads/2017/11/ico_access.png);
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 26px;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-top: 2px solid #8cc63f;
        border-right: 2px solid #8cc63f;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 7%;
        margin: auto;
      }
    }
  }
  &__guide:nth-of-type(2) {
    margin:0 auto 20px;
    li:nth-child(1) a {background-image: url(/wp-content/uploads/2017/11/ico_news.png);}
    li:nth-child(2) a {background-image: url(/wp-content/uploads/2017/11/ico_faq.png);}
  }
  &__group {
      display: flex;
      margin-top: 28px;
      margin-bottom: 30px;
  }

  &__item {
      flex: 1 1 100%;
      align-items: center;
  }

  &__item:not(:last-child) {
      margin-right: 8px;
  }

  &__twitter {
      background-color: #1da1f2;
      background-image: url(/wp-content/uploads/2017/11/share-twitter.png);
      background-size: 24px;
  }

  &__facebook {
      background-color: #3b5998;
      background-image: url(/wp-content/uploads/2017/11/share-fb.png);
      background-size: 24px;
  }

  &__line {
      background-color: #00b900;
      background-image: url(/wp-content/uploads/2017/11/share-line.png);
      background-size: 24px;
  }

  &__facebook, &__line, &__twitter {
      height: 32px;
      display: block;
      color: #fff;
      line-height: 32px;
      font-size: 10px;
      border-radius: 2px;
      text-indent: 30px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: 10%;
  }

  &__registrationArea {
    text-align: center;
    font-size: 13px;
    color: #585858;
    letter-spacing: 2px;
    &__btn {
      width: 100%;
      background: $primary__green;
      height: 48px;
      color: $base__white;
      border-radius: 3px;
      box-shadow: 0 2px 0 0 #70a22f;
      font-size: 17px;
      font-weight: bold;
      letter-spacing: 1.3px;
      line-height: 1.3;
      padding-top: 7px;
      margin: 4px auto 42px;
      span {
        font-size: 10px;
        display: block;
        color: #FFF;
        font-weight: normal;
      }
    }
  }

  .decoTop {margin-top: 0;margin-bottom: 10px;}

  @media screen and (max-width: 320px) {
    &__twitter,&__facebook,&__line {
      background-size: 16px;
      text-indent: 23px;
    }
    &__guide a {
      font-size: 10px;
    }
  }

}


@media screen and (min-width: 751px) {
  .scheduleArea {
    width: 100%;
    margin: 0 auto;
    > div {
      width: 100%;
      max-width: 640px;
      margin: 0 auto;
      &:last-child {
        display: none;
      }
    }
  }
  .scheduleArea__group {
    margin-top: 18px;
  }
  .scheduleArea__topImg {
    display: none;
  }
  .devicePC__title {
    padding-top: 8px;
  }
  .secondBase_fes_2018.devicePC>div nav {
    padding-left: 130px;
  }
  .scheduleArea__registrationArea {
    font-size: 20px;
  }
}





.scheduleArea__guide li:nth-of-type(2n) a {
  color: #ccc;
  pointer-events: none;
}
.scheduleArea__guide li:nth-of-type(2n) a:after {
  display: none;
}
