video {
  width: 100%;
  vertical-align: top;
}

.videoArea{
  position: relative;
  overflow: hidden;
  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 73%;
    z-index: 100;
  }
}

.videoArea__images {
  ul {
    position: relative;
  }
  li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 5;
    &.active {
      animation: anime_in 0.5s;
      opacity: 1;
      z-index: 10;}
  }
  img {
    width: 100%;
  }
}


@keyframes anime_in {
	0%	{ opacity: 0; }
	100%{ opacity: 1; }
}


.reflectionArea {padding-bottom: 21px;}
