@media (min-width: 751px) {
  .second {
    width: 840px;
    margin: 0 auto;
  }
  .decoBottom {
    display: none;
  }
  .section.pattern_01 {
    padding-bottom: 1px;
  }
  section.pattern_01 h2, section.pattern_02 h2 {
    max-width: 686px;
    margin: 0 auto 24px;
    img {margin-bottom: 8px;}
  }
  .aboutArea__main > h3 {
    font-size: 20px;
  }
  section.fes_2018_1130>h3 {
    font-size: 20px;
  }
  ul.scheduleArea__guide {
    display: none;
  }
  a {
    display: block;
    &:hover {
      opacity: 0.5;
    }
  }
  .scheduleArea__registrationArea__btn {
    height: 70px;
    font-size: 30px;
    line-height: 1.3;
    padding-top: 6px;
    span {
      font-size: 15px;
    }
  }
}






