@media screen and (min-width: 751px) {

  .eventReport{
    &__imgWrap {
        display: flex;
    }
    &__report {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border:none;
      flex: 1;
      a{
        padding-left: 40px;
      }
    }
    &__img{
      border:none;
      width: 190px;
    }
    ul {
      width: 840px;
      margin: auto;
      padding: 20px 0px;
      li {border: solid 1px #979797;}
    }
    a {
      font-size: 17.7px;
    }

  }

}

@media screen and (max-width: 750px) {
  .eventReport__report {
    padding: 6px 0;
    a {
      height: 36px;
    }
  }
}
