
@media screen and (min-width: 751px) {
  footer.container {
    padding-bottom: 70px;
  }
  .devicePC.footerBottom {
    display: flex;
  }

  .footer__contents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    &__top {
      display: flex;
    }
  }

  .footer__followUsIcon {
    padding: 0;
    margin-right: 70px;
    flex: 1;
  }

  .footer__links {
    overflow: hidden;
    padding: 0;
    flex: 2;
    > div {
      width: 48%;
      float: left;
      margin-right: 2%;
    }
    > ul {
      width: 50%;
      display: flex;
      li a {
        display: flex;
        height: 44px;
        margin-bottom: 10px;
        img {
          object-fit: inherit;
          width: 100%;
          height: 44px;
          padding-bottom: 0;
        }
      }
      li:first-child {width: 32%;}
      li:nth-of-type(3n) {margin-right: 0;}
      li:nth-of-type(3n + 1) {margin-right: 2%;}
    }
  }
  .footer__comment p {
    font-size: 14px;
  }
  footer .footer__contents__top h4 {
    width: 100%;
    max-width: 68px;
    text-align: center;
    margin: 0 auto 18px 0;
  }

}


@media screen and (max-width: 750px) {
  .footerRegister {
    background-color: rgba(30, 1, 17, 0.6);
    border-top: 0;
    z-index: 29;
    transform: translateY(100%);
    transition: 0.3s;
    &.active {
      transform: translateY(0%);
    }
    a {
      width: 100%;
      font-size: 17px;
      height: 48px;
    }
  }

}