.devicePC.pcTop {
  background: #e4007f;
  img {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.devicePC.pcBottom{
 a {
  display: block;
  text-align: center;
  color: #e4007f;
  background: #FFF;
  padding: 20px;
  text-decoration: underline;
  font-size: 18px;
}
}