.devicePC.pcTop {
  background: #e4007f;
  img {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 751px) {
  .top {
    padding: 3em;
    h2 {
      width:840px;
      margin: 0 auto;
      span{
      font-size: 20px;
      }
     > img {
      width: 583px;
      margin: auto;
      }
    }
  }
}