.devicePC.pcTop {
  background: #e4007f;
  img {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.pcBottom {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  text-align: center;
  a {
    color: $secondary__pink;
    font-size: 18px;
    border-bottom: 1px solid;
    display: inline;
  }
}
