.attractionArea__main {
  h3 span {
    display: block;
    font-size: 15px;
    color: #1f0112;
  }
  &__list ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li {
      width: 49%;
      border: solid 1px #e4007f;
      margin-bottom: 16px;
      a {
          display: block;
      }
    }
  }
  &__title {
    color: $secondary__pink;
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: 12px;
  }
  &__menu ul{
    margin: 16px -16px;
    li a {
      display: flex;
      align-items: center;
      padding: 10px 16px;
      border-bottom: 1px solid #dcdcdc;
      position:relative;
      height: 110px;
      &:before {
        content: "";
        width: 25px;
        height: 25px;
        border: 2px solid #8476b5;
        border-radius: 50%;
        position: absolute;
        top: 6px;
        left: 16px;
        color: #8476b5;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 0px 1px;
      }
      &.no_1:before {content: "1";}
      &.no_2:before {content: "2";}
      &.no_3:before {content: "3";}
      &.no_4:before {content: "4";}
      &.no_5:before {content: "5";}
      &.no_6:before {content: "6";}
      &.no_7:before {content: "7";}
      &.no_8:before {content: "8";}
      &.no_9:before {content: "9";}
      &:after {
        content: "";
        width: 12px;
        height: 12px;
        border-top: solid 2px #8cc63f;
        border-right: solid 2px #8cc63f;
        transform: rotate(45deg);
        position: absolute;
        right: 1em;
      }
      img {
        width: 126px;
        height: 76px;
        margin-right: 10px;
        margin-left: 12px;
      }
    }
  }
  &__ticketSpace {
    height: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &.ticket:before {
      content: "";
      display: inline-block;
      width: 40px;
      height: 28px;
      background-image: url("/wp-content/uploads/2017/11/ticketIcon.png");
      background-size: cover;
      margin-right: 10px;
    }
    &.ticket.Free:before {
      background-image: url("/wp-content/uploads/2017/12/uranai_free.png");
    }
    &.sheet_01:after {content: "× 1";}
    &.sheet_02:after {content: "× 2";}
    &.sheet_03:after {content: "× 3";}
    &.sheet_04:after {content: "× 4";}
    &.sheet_05:after {content: "× 5";}
  }
  &__menuDetail {
    position: relative;
    width: 100%;
    div {
      font-size: 14px;
      font-weight: bold;
      color: #1e0111;
    }
    .attractionArea__main__ticketSpace.coin_01 {
      font-size: 12px;
      &:before {
        position: absolute;
        left: 0;
        bottom: -12px;
      }
      &:after {
        position: absolute;
        left: 50px;
        bottom: -10px;
        font-size: 14px;
      }
    }
  }
  &__menuDetail div:first-child {
    font-size: 14px;
    font-weight: bold;
  }
  &__menuDetail div:last-child {
    font-size: 14px;
    color: #585858;
  }
  &__menuDetail span {
    color: #8cc63f;
  }
  &__placeMap p {
    padding: 0px 20px;
  }
}

.attractionArea {
  .attractionArea__main {
    &__title {
      text-align: left;
      margin-bottom: 4px;
    }
    &__map {
      margin-right: -16px;
      margin-left: -16px;
      padding-top: 24px;
      h3 {
        text-align: left;
        padding-left: 16px;
        margin-bottom: 4px;
      }
    }
    &__placeMap {
      margin-top: 32px;
    }
  }
}


@media screen and (min-width: 751px) {
  .attractionArea {
    .attractionArea__main {
      &__map h3 {
        text-align: center;
        font-size: 18px;
      }

      &__title {
        text-align: center;
        margin-bottom: 13px;
        font-size: 18px;
      }

      &__menu {
        ul {
          display: flex;
          flex-wrap: wrap;
        }
        li {
          width: 50%;
        }
      }
    }
  }
}


.attractionArea .swich {
  display: none;
}
.attractionArea .swich:nth-child(2) {
  display: block;
  height: 34px;
  padding-top: 4px;
  &.coin_01 {
    height: 34px;
    align-items: flex-start;
  }
}

.attractionDetail .swich {
  display: none;
}
.attractionDetail .swich:last-child {
  display: block;
}
