.attractionDetail {
  &__discription {
    margin-bottom: 40px;
    p {
      border: solid 2px #8476b5;
      border-radius: 30px;
      width: 60%;
      margin: 16px auto;
      padding: 2px;
      text-align: center;
      font-weight: bold;
      color: #585858;
    }
  }
  &__person p {
    width: 40%;
    margin-left: auto;
    margin-top: 20px;
    a {
      text-decoration: underline;
      color: #8cc63f;
      font-size: 13px;
      font-weight: bold;
      position: relative;
      text-align: right;
      &:after {
        content: "";
        width: 8px;
        height: 8px;
        border-top: solid 2px #8cc63f;
        border-right: solid 2px #8cc63f;
        transform: rotate(45deg);
        position: absolute;
        right: -12px;
        top: 30%;
      }
    }
  }
  &__personDetail {
    margin: auto;
    width: 120px;
    display: block;
    img {
      border-radius: 50%;
      opacity: 0.9;
      border: solid 1px #eeeeee;
      height: 120px;
      width: 120px;
    }
    span {
      display: block;
    }
    div {
      text-align: center;
      font-weight: bold;
      color: #141414;
      span {
        font-size: 10px;
        color: #585858;
      }
    }
  }
  &__placeMap p {
    padding: 0px 20px;
  }
  &__notes ul {
    padding-left: 24px;
    li {
      list-style-type: disc;
      color: #767677;
    }
  }

  .attractionDetail__discription {
    .attractionArea__main__ticketSpace {
      &.ticket {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8476b5;
        width: 230px;
        margin: 0 auto;
        border-radius: 18px;
        height: 36px;
        font-size: 13px;
        position: relative;
        font-weight: 700;
        &.coin_01 {
          padding-right: 62px;
        }
      }
      &.coin_01 {
        &:before {
          position: absolute;
          left: 130px;
        }
        &:after {
          position: absolute;
          left: 175px;
          font-weight: 700;
        }
      }
    }
  }
}










.attractionDetail{
  .attractionDetail{
  &__title {
    text-align: left;
  }
  &__content{
    margin: 0px;
  }
  }
}




@media screen and (max-width: 320px) {
  .attractionDetail__discription p {
    width: 60%;
  }
}
