.second {
  h3 {
    text-align: center;
    font-size: 14px;
    color: #e4007f;
    margin-bottom: 24px;
  }
  div p {
    margin-bottom: 16px;
  }
  b {
    display: block;
  }
}

.secondBase {
  &_title {
    padding: 70px 0 10px;
  }
  &_fes_2018 {
    background:#FFF;
    h1 {
      display: flex;
      padding:0 50px 0 10px;
      width: 100%;
      height: 50px;
    }
  }
  &_headerTitle {
    flex: 1;
    position: relative;
    display: none;
    img {
      width: 90%;
      max-width: 210px;
      position: absolute;
      bottom: 3px;
      left: 3px;
    }
  }
}

.secondBase_headerImg {
  width: 112px;
}

.goTop {
  margin: 20px auto;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 44px;
    background-color: #e4007f;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    margin: auto;
  }
}

@media screen and (min-width: 751px) {
  .secondBase_headerImg {
    width: 180px;
  }
}

.secondArea__switchBtn{
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    li {
      width: 167px;
      margin-bottom: 9px;
    a img {
        width: 100%;
    }
    }
  }
  &__modalContent {
    position:fixed;
    display:none;
    z-index:2;
    width:90%;
    margin:0;
    border: solid 2px #e4007f;
    background:#fff;
    .modal-close {
      position: absolute;
      top: -16px;
      right: -16px;
      width: 40px;
      height: 40px;
      line-height: 100px;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      background: #e4007f;
      border: 2px solid #FFF;
      &:before {
        content: "";
        width: 3px;
        height: 30px;
        background: #FFF;
        transform: rotate(45deg);
        display: inline-block;
        top: 3px;
        right: 17px;
        position: absolute;
        text-align: center;
      }
      &:after {
        content: "";
        width: 3px;
        height: 30px;
        background: #FFF;
        transform: rotate(-45deg);
        display: inline-block;
        top: 3px;
        right: 17px;
        position: absolute;
      }
    }
  }
}

.modal-overlay {
  z-index:1;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.3);
  }




// 11/30までの仮css
section.fes_2018_1130 > div {
  margin: 16px auto;
}

section.fes_2018_1130 > h3 {
  margin: 60px auto 12px;
  color: #141414;
}

.attentionArea__main {
  ul {padding-left: 16px;}
  li {
    list-style-type: disc;
    margin-bottom: 16px;
  }
}
