.foodsArea__main {
  h3 span {
    display: block;
    font-size: 15px;
    color: #1f0112;
  }
  &__list ul {
    overflow: hidden;
    padding: 16px;
    li {
      width: 48%;
      float: left;
      border: solid 1px #e4007f;
      position: relative;
      margin-bottom: 16px;
      &:nth-child(2n){
        float:right;
      }
      a {
        display: block;
        &:before {
          content: "A";
          width: 24px;
          height: 24px;
          background: #f39800;
          border-radius: 50%;
          position: absolute;
          top: 4px;
          left: 4px;
          color: #FFF;
          font-weight: bold;
          text-align: center;
          line-height: 24px;
        }
      }
    }
  }

  &__title {
    color: $secondary__pink;
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: 12px;
  }
  &__menu ul li a {
    display: flex;
    align-items: center;
    padding: 0.81em 1.25em 0.81em 0.81em;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    &:after {
      content: "";
      width: 12px;
      height: 12px;
      border-top: solid 2px #8cc63f;
      border-right: solid 2px #8cc63f;
      transform: rotate(45deg);
      position: absolute;
      right: 1em;
    }
    img {
      width: 126px;
      height: 76px;
      margin-right: 10px;
    }
  }
  &__menuDetail {
    padding-right: 1.13em;
    width: 100%;
     div {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      color: #1e0111;
    }
  }
  &__menuDetail span:first-child {
    font-size: 9px;
    line-height: 12px;
    display: block;
    color: #e4007f;
    font-weight: 700;
    display: none;
  }
  &__menuDetail span:last-child {
    color: #8cc63f;
    font-size: 14px;
    font-weight: 700;
    display: block;
    line-height: 20px;
  }
  &__placeMap p {
    padding: 0px 20px;
  }
}

.foodsArea {
  .foodsArea__main {
    &__title{
      text-align: left;
      padding: 0 16px;
      margin-bottom: 6px;
    }
    &__map {
      margin-right: -16px;
      margin-left: -16px;
      padding-top: 24px;
      margin-bottom: 30px;
    }
    &__menu {
      margin: 30px -16px 0;
    }
    &__placeMap {
      margin-top: 32px;
    }
  }
}

@media screen and (min-width: 751px) {
  .foodsArea {
    .foodsArea__main__map > div > div:first-child {
      padding: 0 45px;
    }
    .foodsArea__main__list {
      padding: 0;
      ul {
        display: flex;
        padding: 16px 0;
        li {
          width: auto;
          float: none;
          margin-bottom: 0;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
        a:before {
          display: none;
        }
      }
    }
    .foodsArea__main__menu {
      padding-bottom: 24px;
      ul {
        display: flex;
        flex-wrap: wrap;
        > li {
          width: 50%;
        }
      }
    }
  }
}
