.foodsArea__main{
  h3 span {
    display: block;
    font-size: 15px;
    color: #1f0112;
  }
  &__list ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li {
      width: 49%;
      border: solid 1px #e4007f;
      margin-bottom: 16px;
      position: relative;
      &:before {
        content: "A";
        width: 24px;
        height: 24px;
        background: #f39800;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 4px;
        color: #FFF;
        font-weight: bold;
        text-align: center;
        line-height: 24px;
      }
      a {
          display: block;
      }
    }
  }

  &__title {
  color: $secondary__pink;
  font-size: 1.6rem;
  line-height: 1;
  margin-bottom: 12px;
  }
  &__menu ul li {
    display: flex;
    align-items: center;
    padding: 0.81em 1.25em 0.81em 0.8em;
    border-bottom: 1px solid #dcdcdc;
    &:after {
      content: "";
      width: 12px;
      height: 12px;
      border-top: solid 2px #8cc63f;
      border-right: solid 2px #8cc63f;
      transform: rotate(45deg);
      position: absolute;
      right: 23px;
    }
    img {
      width: 126px;
      height: 76px;
      margin-right: 10px;
    }
    &__menuDetail div {
      font-size: 14px;
      font-weight: bold;
      color: #1e0111;
    }
    &__menuDetail span:first-child {
      font-size: 9px;
      color: $secondary__pink;
      font-weight: bold;
    }
    &__menuDetail span:last-child {
      color: #8cc63f;
      font-size: 14px;
      font-weight: bold;
    }
  }
  &__placeMap p {
    padding: 0px 20px;
}
}

.foodsArea{
  .foodsArea__main{
  &__title{
    text-align: left;
  }
  &__map {
    margin-right: -16px;
    margin-left: -16px;
    padding: 16px;
    background-color: #f8f8f8;
  }
  &__placeMap {
    margin-top: 32px;
}
}
}