.goodsDetail {
  &__shopLogo {
    width: 28%;
    margin: 10px auto;
    border: 1px solid $secondary__pink;
  }
  &__goodsPic {
    margin: 0 -16px 8px;
  }
  &__topContent {
    background-color: #f4f4f4;
    margin-right: -16px;
    margin-left: -16px;
  }

  &__goodsTitle {
    color: #1e0111;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    span {
      display: block;
      color: $secondary__pink;
      font-size: 11px;
      visibility: hidden;
    }
  }
  &__discription {
    margin-bottom: 24px;
    p {
      border: 2px solid $positiveColor__01;
      border-radius: 30px;
      width: 40%;
      margin: 10px auto 0px;
      padding: 2px;
      text-align: center;
      font-weight: 700;
      color: #585858;
    }
    span{
      color: #141414;
    }
  }
  &__person {
    padding-bottom: 24px;
    margin-bottom: 24px;
    .goodsDetail__title {
      text-align: left;
      margin-bottom: 6px;
    }

    ul {
      display: flex;
      justify-content: flex-start;
    }

    li {
      width: 120px;
      margin-right: 32px;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          border-radius: 50%;
          margin-bottom: 12px;
        }
      }
    }
  }
  &__personDetail {
    text-align: center;
    div {
      font-weight: bold;
    }
    span {
      color: #585858;
      font-size: 10px;
      display: block;
    }
  }
  .w-Card__Main{
    img{
      width: 65%;
      margin: 0 auto;
    }
  }
  &__placeMap {
    .goodsDetail__title {
      text-align: left;
      margin-bottom: 4px;
    }
  }
  .goodsDetail__title {
    text-align: left;
  }
  &__content form {
    * {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      appearance: none;
    }
  }
}


//ピタットTVの画像を追加したのでそのCSS
.ct-Map__img {
  width: 65%;
  margin: 0 auto;
}
