.stage__fes2018 {
  &.fes_2018_1130 > div {
    margin: 0 auto 16px;
  }
  &.sw-Card__Main{
    p {
      margin-bottom: 12px;
    }
  }

  &.sw-Tab > a {
    background: #f8f8f8;
    border: none;
    color: #828282;
    font-size: 14px;
    font-weight: bold;
    border-radius:2px;
  }
  &.sw-Tab.active > a {
    background: $primary__green;
    color:#FFF;
  }
  &.ct-TimeTable__List{
    overflow-x: scroll;
  }
  &.ct-TimeTable__Time {
    background: $primary__green;
    vertical-align: top;
    padding-top: 12px;
  }
  &.ct-TimeTable__TimeFrom{
    padding-bottom: 13px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    &:after{top: 32px;}
  }
  &.ct-TimeTable__Time--last{border-bottom:none;}
  &.ct-TimeTable__Info{
    border: 1px solid $primary__green;
  }
  &.ct-TimeTable__Corner{
    color: #1e0111;
  }
  &.ct-TimeTable__Workshop {
    margin: 12px 0px;
    h6{
      font-size: 14px;
      color:$secondary__pink;
      font-weight:bold;
    }
    p a{
      text-decoration: underline;
      font-size: 12px;
      font-weight:bold;
    }
  }
  &.ct-TimeTable__BottomBtn{
    text-align: center;
    p {
      padding: 16px;
      font-weight: bold;
      color: #1e0111;
    }
    div{
      background-color: #e4007f;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 0 2px 0 0 #b81d65;
    }
    a {
      color: #FFF;
      font-weight: bold;
      display: block;
      text-align: center;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 320px) {
    &.ct-TimeTable__List{
      width: 220px;
    }
  }

}


@media screen and (min-width: 751px) {
  .stageArea {
    .ct-TimeTable {
      &__Info {
        padding: 0;
      }
      &__Corner {
        padding: 12px 16px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0;
        font-size: 17px;
        line-height: 25px;
      }
      &__Guest {
        width: 176px;
        float: left;
        padding-left: 16px;
        padding-top: 21px;
        margin: 0;
        font-size: 15px;
        line-height: 16px;
      }
      &__List {
        float: left;
        width: 560px;
        padding-top: 21px;
      }
      &__Workshop {
        clear: both;
        h6 {
          width: 170px;
          padding-left: 16px;
          float: left;
        }
      }
    }

    .sw-FlexMedia {
      display: block;
      &__Item {
        width: 82px;
        float: left;
        margin-right: 32px;
      }
      &__Image {
        width: 100%;
      }
    }
  }
}
