.stage__fes2018 {
  &.fes_2018_1130 > div {
    margin: 0 auto 16px;
  }
  &.sw-Card__Main{
    p {
      margin-bottom: 12px;
    }
  }

  &.sw-Tab > a {
    background: #f8f8f8;
    border: none;
    color: #828282;
    font-size: 14px;
    font-weight: bold;
    border-radius:2px;
  }
  &.sw-Tab.active > a {
    background: $primary__green;
    color:#FFF;
  }
  &.ct-TimeTable__List{
    overflow-x: scroll;
  }
  &.ct-TimeTable__Time {
    background: $primary__green;
    vertical-align: top;
    padding: 12px 0px;
  }
  &.ct-TimeTable__TimeFrom{
    padding-bottom: 13px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    &:after{top: 32px;}
  }
  &.ct-TimeTable__Time--last{border-bottom:none;}
  &.ct-TimeTable__Info{
    border: 1px solid $primary__green;
    background: #fff;
  }
  &.ct-TimeTable__Corner{
    color: #1e0111;
  }
  &.ct-TimeTable__Workshop {
    margin: 12px 0px;
    h6{
      font-size: 14px;
      color:$secondary__pink;
      font-weight:bold;
    }
    p a{
      text-decoration: underline;
      font-size: 12px;
      font-weight:bold;
    }
  }
  &.ct-TimeTable__BottomBtn{
    text-align: center;
    p {
      padding: 16px;
      font-weight: bold;
      color: #1e0111;
    }
    div{
      background-color: $secondary__pink;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 0 2px 0 0 #b81d65;
    }
    a {
      color: #FFF;
      font-weight: bold;
      display: block;
      text-align: center;
      font-size: 16px;
    }
  }
  .sw-FlexMedia__Image img {
    border-radius: 50%;
  }
  .sw-FlexMedia__Item a>div{
    position: relative;
  }
  .comson {
    color:#1e0111;
    font-weight: 600;
    font-size: 1rem;
  }
  .mcIcon:before{
    content: "MC";
    width: 24px;
    height: 24px;
    background: $secondary__pink;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    color:#FFF;
    font-size: 8px;
    line-height: 24px;
    text-align: center;
  }
  .tab-content {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 70px;
  }

}

.stageArea {
  .sw-FlexMedia__Item {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > div {
        margin-bottom: 12px;
        padding: 0 8px;
      }
      > .stageDetail {
        background-color: #eee;
        color: #585858;
        font-weight: 400;
        font-size: 9px;
        padding: 2px 6px;
        border-radius: 2px;
      }
    }
  }
}


@media screen and (min-width: 751px) {
  .stageArea {
    .ct-TimeTable {
      &__Info {
        padding: 0;
      }
      &__Corner {
        padding: 12px 16px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0;
        font-size: 17px;
        line-height: 25px;
      }
      &__Guest {
        width: 176px;
        float: left;
        padding-left: 16px;
        padding-top: 21px;
        margin: 0;
        font-size: 15px;
        line-height: 16px;
      }
      &__List {
        float: left;
        width: 560px;
        padding-top: 21px;
      }
      &__Workshop {
        clear: both;
        h6 {
          width: 170px;
          padding-left: 16px;
          float: left;
        }
      }
    }

    .comson {
      padding: 12px 16px;
    }

    .sw-FlexMedia {
      display: block;
      &__Item {
        width: 92px;
        float: left;
        margin-right: 32px;
      }
      &__Image {
        width: 100%;
      }
    }
    .sw-FlexMedia__Text span {
      display: block;
      font-size: 1rem;
    }
  }
}


.stageArea {
  .ct-TimeTable__Guest {
    visibility: hidden;
  }
  .ct-TimeTable__Main {
    table-layout: fixed;
  }
  .ct-TimeTable__List {
    height: 180px;
    overflow: hidden;
    padding-bottom: 16px;
  }
  .sw-FlexMedia {
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    padding-bottom: 30px;
  }
}




.detail-Basic.memberDetail {
  padding: 1px 16px 30px 16px;
  background: #fff;
}

@media screen and (max-width: 750px) {
  .stageArea {
    .ct-TimeTable__List {
      height: 140px;
    }
  }
}
@media screen and (min-width: 414px) {
  .sw-FlexMedia__Image {
      width: 80px;
  }
}
