.workshopTable {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    td:nth-of-type(1) {
      background-color: #8ac832;
      color: #ffffff;
      font-size: 13px;
      font-weight: 700;
      width: 78px;
      text-align: center;
      vertical-align: top;
      padding-top: 12px;
    }
  }
  tr {
    @media screen and (max-width: 750px) {
      height: 35px;
    }
    @media screen and (min-width: 751px) {
      height: 45px;
    }
    &:nth-of-type(4n) td {
      border-bottom: 1px solid #dcdcdc;
    }
    td.tableArea__lineBottom {
      border-bottom: 1px dotted #dcdcdc;
    }
  }
  &__schedule {
    color: #dcdcdc;
    border: 1px solid #dcdcdc;
    vertical-align: top;
    @media screen and (max-width: 750px) {
      &.row_2 {height: 35px;}
      &.row_3 {height: 70px;}
      &.row_4 {height: 105px;}
      &.row_5 {height: 140px;}
      &.row_6 {height: 175px;}
      &.row_7 {height: 210px;}
      &.row_8 {height: 245px;}
    }
    @media screen and (min-width: 751px) {
      &.row_2 a {height: 90px;}
      &.row_3 a {height: 135px;}
      &.row_4 a {height: 180px;}
      &.row_5 a {height: 225px;}
      &.row_6 a {height: 270px;}
      &.row_7 a {height: 315px;}
      &.row_8 a {height: 360px;}
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 6px 12px;
    }
    &.left {background-color: #fce5f2;}
    &.right {background-color: #e3f2f7;}
  }
  &__scheduleTime {
    color: #585858;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
  }
  &__scheduleNote {
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    font-weight: 700;
  }
  &__map {
    margin: 60px 0px;
    p{
      padding: 20px;
    }
  }



  thead {
    border-top: 2px solid #8ac832;font-size: 13px;line-height: 19px;
    th {width: 14%;}
    th:nth-of-type(2) {background-color: #fce5f2;width: 43%;}
    th:nth-of-type(3) {background-color: #e3f2f7;width: 43%;}
  }
}

.workshopArea{
  &__top{
    &__logo {
      width: 54%;
      display: inline;
      vertical-align: middle;
      padding-right: 4px;
    }
    &__text {
      color: #1e0111;
    }
    p img {
      margin: 36px 0px;
    }
  }
}



@media screen and (min-width: 751px) {
  .workshopArea {
    &__top p img {
      width: 85%;
      margin: 80px auto 47px;
    }
    &__top__text {
      font-size: 16px;
    }
    &__top__logo {
      width: 23%;
    }
    .ct-MemberList__Date {
      display: none;
    }

    .tab-content {
      width: 1200px;
      display: flex;
      margin: 0 -200px;
      > .tab-pane {
        display: block !important;
        opacity: 1;
      }
    }

    .tab-content > div:nth-of-type(2) th:first-child,
    .tab-content > div:nth-of-type(2) tr td:first-child,
    .tab-content > div:nth-of-type(3) th:first-child,
    .tab-content > div:nth-of-type(3) tr td:first-child {display: none;}

    thead {
      border-top: 0;
    }

    .workshopArea__tableDate th:last-child {
      background-color: #e9439e;
      color: #fff;
      border-left: 1px solid #fff;
      padding-top: 5px;
      height: 60px;
      font-size: 21px;
    }
    .workshopTable:first-child .workshopArea__tableDate th:last-child {
      border-left: 0;
    }
    .workshopArea__tableRoom th {
      border: 1px solid #dcdcdc;
      font-size: 14px;
      line-height: 20px;
      height: 55px;
      &:first-child {
        border: 0;
      }
    }
    .tab-content>.tab-pane:nth-of-type(2) table {
      border-left: 1px solid #dcdcdc;
    }

    .tab-content>.tab-pane:nth-of-type(3) table {
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
    }

    tr td:last-child {
      border-left: 1px dotted #dcdcdc;
    }
  }

  .workshopArea .tab-content .tab-pane:nth-of-type(1) table {width: 460px;}
  .workshopTable tr th {
    width: 82px;
    &:last-child {
      width: 100%;
    }
  }
  .workshopTable table {width: 376px;table-layout: fixed;}
}


@media screen and (max-width: 750px) {
  .workshopArea__tableDate {
    display: none;
  }
  .workshopTable table {
    border-right: 1px solid #dcdcdc;
  }
  .workshopTable__block td:last-child {
    border-left: 1px dotted #dcdcdc;
  }
}
