.workshopDetail {
  &.ws-Item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #585858;
    text-decoration: none;
  }
  &.ws-Item_Main {
    display: flex;
    padding-top: 32px;
    padding-bottom: 10px;
  }
  &.ws-Item_ImageText {
    color: #e4007f;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 0px;
    text-align:left;
    span {
      color: #de0000;
    }
  }
  &.ws-Item_Image {
    width: 40%;
    display: none;
    img {
      width: 100%;
      height: auto;
    }
  }
  &.ws-Item_Cate {
    li {
      color: #585858;
      font-size: 9px;
      background-color: #eeeeee;
      display: inline-block;
      padding: 0px 6px;
      border-radius: 10px;
    }
  }
  &.ws-Item_ImageText-soldOut {
    color: #de0000;
  }
  &.ws-Item_Text {
    flex: 1;
    padding-left: 0px;
  }
  &.ws-Item_Text>h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    color: #1e0111;
    margin: 0;
    text-align: left;
  }
  &.ws-Item_Info {
    margin-top: 6px;
    p {
      font-size: 12px;
      line-height: 18px;
      margin: 0;
    }
  }
  p.ws-Item_TextPrice {
    font-size: 14px;
    margin-top: 6px;
  }
  &.ws-Item_TextPrice>span {
    font-weight: 700;
    color: #8cc63f;
  }
  &.ws-Detail {
    border-top: 1px dotted #dcdcdc;
    padding-top: 16px;
    margin-top: 16px;
  }
  &.ws-Detail-noborder {
    border-top: none;
    margin-top: 22px;
    padding-top: 0;
  }
  &.ws-Detail_Title {
    color:$secondary__pink;
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: 12px;
    text-align: left;
  }
  &.sw-FlexMedia {
    justify-content: left;
    padding-bottom: 28px;
  }
  &.sw-FlexMedia__Item {
    width: 80px;
    align-items: flex-start;
    flex: none;
    margin-right: 10px;
    > a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  &.sw-FlexMedia__Image {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 8px;
    width: 80px;
  }
  &.sw-FlexMedia__Category {
    background-color: #eee;
    color: #585858;
    font-weight: normal;
    font-size: 9px;
    padding: 2px 6px;
    border-radius: 2px;
  }
  &.ws-Detail_Section {
    padding: 30px 0 22px;
    border-top: 1px solid #efefef;
  }
  &.ws-Item_TextPrice>span {
    font-weight: 700;
    color: #8cc63f;
  }

  &li.sw-Tab {
    padding: 0;
    margin-right: 11px
  }

  &li.sw-Tab:last-child {
    margin-right: 0
  }

  &.fes_2018_1130>div {
    margin: 0 auto 16px
  }

  &.sw-Card__Main p {
    margin-bottom: 12px
  }

  &.sw-Tab>a {
    background: #f8f8f8;
    border: none;
    color: #828282;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px
  }

  &.sw-Tab.active>a {
    background: #8cc63f;
    color: #FFF
  }

  &.ct-TimeTable__List {
    overflow-x: scroll
  }

  &.ct-TimeTable__Time {
    background: #8cc63f;
    vertical-align: top;
    padding-top: 12px
  }

  &.ct-TimeTable__TimeFrom {
    padding-bottom: 13px;
    font-size: 18px;
    font-weight: bold;
    display: block
  }

  &.ct-TimeTable__TimeFrom:after {
    top: 32px
  }

  &.ct-TimeTable__Time--last {
    border-bottom: none
  }

  &.ct-TimeTable__Info {
    border: 1px solid #8cc63f
  }

  &.ct-TimeTable__Corner {
    color: #1e0111
  }

  &.ct-TimeTable__Guest {
    color: #8cc63f
  }

  &.ct-TimeTable__Workshop {
    margin: 12px 0px
  }

  &.ct-TimeTable__Workshop h6 {
    font-size: 14px;
    color: #8cc63f;
    font-weight: bold
  }

  &.ct-TimeTable__Workshop p a {
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold
  }

  &.ct-TimeTable__BottomBtn {
    text-align: center
  }

  &.ct-TimeTable__BottomBtn p {
    padding: 16px;
    font-weight: bold;
    color: #1e0111
  }

  &.ct-TimeTable__BottomBtn div {
    background-color: #e4007f;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 0 0 #b81d65;
    box-shadow: 0 2px 0 0 #b81d65
  }

  &.ct-TimeTable__BottomBtn a {
    color: #FFF;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 16px
  }
  &.ws-map_btn {
    a {
      display: block;
      width: 100%;
      text-align: center;
      background-color: #8cc63f;
      padding: 10px 0px;
      color: #FFF;
      font-weight: bold;
      box-shadow: 0 2px 0 0 #70a22f;
      border-radius: 3px;
      font-size: 17px;
    }
    &.workshopDetail__btnOver a {
      background-color: #ccc;
      box-shadow: 0 2px 0 0 #999;
      pointer-events: none;
    }
  }
  &.ws-map_img {
    padding: 20px;
  }


}


@media screen and (min-width: 751px) {
  .workshopDetail {
    &.ws-Item_Image {
      width: 250px;
    }
    &.ws-Item_ImageText {
      text-align:left;
      font-size: 18px;
      margin-top: 8px;
    }
    // &.ws-Item_Text {
    //   padding-left: 32px;
    // }
    &.ws-Item_Cate li {
      font-size: 14px;
      line-height: 20px;
      padding: 2px 6px 0px;
    }
    &.ws-Item_Text>h3 {
      font-size: 20px;
      line-height: 30px;
    }

    &.ws-Item_Info p {
      font-size: 15px;
      line-height: 19px;
    }

    & p.ws-Item_TextPrice {
      font-size: 19px;
      margin-top: 8px;
    }
    &.ws-Detail {
      margin: 0;
    }
    &.ws-Item {
      padding-bottom: 32px;
    }
    &__detail {
      background-color: #f4f4f4;
      padding: 45px 50px;
      margin-bottom: 80px;
    }
    &__content{
      background: #fff;
      padding: 0 100px 70px;
    }
  }
  &.ws-map_btn {
      width: 100%;
      margin:0 auto 60px;
  }
}