.workshopTable {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    td:nth-of-type(1) {
      background-color: #8ac832;
      color: #ffffff;
      font-size: 13px;
      font-weight: 700;
      width: 78px;
      text-align: center;
    }
  }
  tr {
    height: 35px;
    &:nth-of-type(4n) td {
      border-bottom: 1px solid #dcdcdc;
    }
    td.tableArea__lineBottom {
      border-bottom: 1px dotted #dcdcdc;
    }
  }
  &__schedule {
    color: #dcdcdc;
    border: 1px solid #dcdcdc;
    vertical-align: top;
    &.row_2 {height: 70px;}
    &.row_3 {height: 105px;}
    &.row_4 {height: 140px;}
    &.row_5 {height: 175px;}
    &.row_6 {height: 210px;}
    &.row_7 {height: 245px;}
    &.row_8 {height: 280px;}
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 12px;
    }
    &.left {background-color: #fce5f2;}
    &.right {background-color: #e3f2f7;}
  }
  &__scheduleTime {
    color: #dcdcdc;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
  }
  &__scheduleNote {
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    font-weight: 700;
  }
  &__ws-Detail_Title {
    color: #e4007f;
    font-size: 1.6rem;
    line-height: 1;
    margin: 12px;
  }
  &__map {
    margin: 60px 0px;
    p{
      padding: 20px;
    }
  }


  thead {
    border-top: 2px solid #8ac832;font-size: 13px;line-height: 19px;
    th:nth-of-type(2) {background-color: #fce5f2;}
    th:nth-of-type(3) {background-color: #e3f2f7;}
  }
}



@media screen and (min-width: 751px) {
  .workshopArea {
    .ct-MemberList__Date {
      display: none;
    }

    .tab-content {
      width: 1200px;
      display: flex;
      margin: 0 -200px;
      > .tab-pane {
        display: block !important;
        opacity: 1;
      }
    }

    .tab-content > div:nth-of-type(2) th:first-child,
    .tab-content > div:nth-of-type(2) tr td:first-child,
    .tab-content > div:nth-of-type(3) th:first-child,
    .tab-content > div:nth-of-type(3) tr td:first-child {display: none;}

    thead {
      border-top: 0;
    }

    .workshopArea__tableDate th:last-child {
      background-color: #e9439e;
      color: #fff;
      border-left: 1px solid #fff;
      padding-top: 5px;
      height: 60px;
      font-size: 21px;
    }
    .workshopTable:first-child .workshopArea__tableDate th:last-child {
      border-left: 0;
    }
    .workshopArea__tableRoom th {
      border: 1px solid #dcdcdc;
      font-size: 14px;
      line-height: 20px;
      height: 55px;
      &:first-child {
        border: 0;
      }
    }
    .tab-content>.tab-pane:nth-of-type(2) table {
      border-left: 1px solid #dcdcdc;
    }

    .tab-content>.tab-pane:nth-of-type(3) table {
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
    }

    tr td:last-child {
      border-left: 1px dotted #dcdcdc;
    }
  }
}


@media screen and (max-width: 750px) {
  .workshopArea__tableDate {
    display: none;
  }
  .workshopTable table {
    border-right: 1px solid #dcdcdc;
  }
  .workshopTable__block td:last-child {
    border-left: 1px dotted #dcdcdc;
  }
}
